/* +++ tag line style +++ */

.tag-line {
    color: #000;
    background-color: #b8e1fc;
  }
  
  .tag-line h2 {
    font-size: 20px;
    font-weight: 900;
    padding: 5px 10px 10px 5px;
    color: #005e5a;
    margin-top: 12px;
  }
  .tag-line h2 > i {
    margin-left: 8px;
    margin-right: 8px;
  }

/* +++ section- header style +++ */

  .section-header {
    position: relative;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-bottom: 15px;
  }
  
  .section-header::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    left: calc(50% - 50px);
    bottom: 0;
    background: linear-gradient(to left, #ffd662, #00539c, #ffd662);
    border-radius: 100%;
  }
  
  .section-header::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 9px;
    left: calc(50% - 10px);
    bottom: -3px;
    background: #00539c;
    border-radius: 5px;
  }
  
  .section-header p {
    margin-bottom: 37px;
    font-size: 20px;
  }
  
  
  .section-header h2 {
    color: #00539c;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 25px;
  }
  
  .section-header.left {
    text-align: left;
  }
  
  /* +++ feature part style +++ */

  .feature_part {
    padding-top: 65px;
  }
  
  .feature_part .single_feature_text h2 {
    font-size: 42px;
    line-height: 1.222;
    padding-bottom: 25px;
  }
  
  .feature_part img {
    height: 100%;
    width: 100%;
  }
  .single_feature_part img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .single_feature_part:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  @media (max-width: 576px) {
    .feature_part .single_feature_text h2 {
      margin-top: 0px;
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
  
  .feature_part .single_feature_text p {
    line-height: 1.8;
    font-size: 17px;
  }
  .feature_part .single_feature{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .feature_part .single_feature_part {
    padding: 50px 20px 35px;
    border: 1px solid #d3d5d6;
    text-align: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  .feature_part .single_feature_text {
    padding: 50px 20px;
  
    text-align: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  @media (max-width: 576px) {
    .feature_part .single_feature_part {
      padding: 25px 10px;
      margin-top: 25px;
    }
  }
  
  .feature_part .single_feature_part h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .feature_part .single_feature_part p {
    color: #7f7f7f;
    line-height: 1.8;
    font-size: 15px;
  }
  
  .feature_part .single_feature:hover .single_feature_part {
    border: 1px solid #0e69be;
  }
  
  .feature_part .single_feature:hover span {
    background-size: 200% auto;
  }
  
  .feature_part .single_feature:hover span i {
    color: #fff;
  }
  
  .single_feature_padding {
    padding-top: 140px;
  }
  
  .feature_part a.btn {
    margin-top: 10px;
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: #ffe047;
    transition: 0.3s;
  }
  
  .feature_part a.btn:hover {
    color: #ffffff;
    background: #7fc8f8;
  }

  /* +++ problem style +++ */

  .probs {
    position: relative;
    width: 100%;
    padding: 45px 0;
    box-shadow: 0 0 0 8px rgb(0 0 0 / 10%);
  }
  
  .probs .section-header {
    margin-bottom: 30px;
  }
  
  .probs img {
    width: 100%;
    height: 100%;
  }
  
  .prob_image {
    height: 100%;
    width: 100%;
  }
  
  .probs span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    background: #ffd662;
    color: #000000;
    border-radius: 5px;
    padding-top: 10px;
  }
  
  .problem {
    background-color: #7fc8f8;
    margin-top: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

/* +++ team details style +++ */
  
  .our-team {
    border-top: 1px solid #fff;
    background: #dbe8f0;
    border-radius: 5px;
    margin-top: 72px;
  }
/* 
  .team .section-header .team-details 
  {
    font-size: 100px;
    padding: 12px;
    margin-left: 10px;
  }  */



  .our-team .pic {
    width: 40%;
    border: 3px solid #fff;
    border-radius: 60px 0;
    margin: -72px auto 0;
    overflow: hidden;
    transition: all 0.2s ease 0s;
  }
  .our-team:hover .pic {
    border-radius: 50%;
    border-color: #6e9ecf;
  }
  .our-team .pic img {
    width: 100%;
    height: auto;
  }
  .our-team .team-content {
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .our-team .team-title {
    font-size: 24px;
    color: #333;
    margin: 20px 0 0;
    text-transform: uppercase;
  }
  .our-team .post {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 15px;
  }
  .our-team .description {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding: 0 35px;
    line-height: 22px;
    margin-bottom: 60px;
  }
  .our-team .social-links {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -17%;
    left: 0;
    margin: 0;
    padding: 9px 0;
    list-style: none;
    background: #6e9ecf;
    transition: all 0.2s linear 0s;
  }
  .our-team:hover .social-links {
    bottom: 0;
  }
  .our-team .social-links li {
    display: inline-block;
    margin: 0 5px;
  }
  .our-team .social-links li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
  }
  .our-team .social-links li a:hover {
    text-decoration: none;
  }
  .team {
    background-color: #b1dbf7;
    padding-top: 45px;
  }
  .team-content {
    background-color: #dbe8f0;
  }
  @media only screen and (max-width: 990px) {
    .our-team {
      margin-top: 80px;
    }
  }
  


  