@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
   background-image: linear-gradient(147deg, #7fc8f8 0%, #062744 74%);
}

/* +++ navbar style +++ */

*::selection{
  background:#ff4f5b;
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width:1.3rem;
}

html::-webkit-scrollbar-track{
  background: #000;
}
header{
  width:100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0; left: 0;
  z-index: 1000;
  padding:2.5rem 7%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
  font-size: 2.5rem;
  color:#666;
  
}
.logo1{
  width: 50px;
}

header .logo span{
  color:#0e69be;
}

header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li{
  margin-left: 2.5rem;
}

header .navbar ul li a{
  color:#999;
  font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
  color:#7fc8f8;
  border-bottom: .2rem solid #7fc8f8 ;
  padding:.7rem 0;
}

#menu{
  font-size: 3rem;
  color:#999;
  cursor: pointer;
  display: none;
}


/* +++ header style +++ */

.section-header {
  position: relative;
  width: 100%;
  max-width: 502px;
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: -95px;
  padding-bottom: 15px;
}

.section-header::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  left: calc(50% - 50px);
  bottom: 0;
  margin-bottom: 25px;
  background: linear-gradient(to left, #ffd662, #00539c, #ffd662);
  border-radius: 100%;
}

.section-header::after {
  position: absolute;
  content: "";
  width: 20px;
  margin-bottom: 25px;
  height: 9px;
  left: calc(50% - 10px);
  bottom: -3px;
  background: #00539c;
  border-radius: 5px;
}

.section-header p {
  margin-bottom: 37px;
  font-size: 20px;
}

.section-header h2 {
  color: rgb(227, 233, 235);
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 6px;
}

.section-header.left {
  text-align: left;
}
.blog-head{
  margin-top: 10px ;
}


/* +++ utility style for blog only +++ */
img {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  width: 88vw;
  margin: 0 auto;
}
.md-title,
.sm-title {
  font-family: "Roboto", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

/* +++ blog collection style +++ */
.blog-collection {
  padding: 3.2rem 0;
}
.blog-collection-wrapper {
  padding: 3.2rem 0;
  padding-top: 60px;
}
.blog-col-left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("../img/pic1.jpg") center/cover no-repeat;
}
.blog-col-r-top {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("../img/pic2.jpg") center/cover no-repeat;
}
.blog-col-r-bottom > div:first-child {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("../img/pic3.jpg") center/cover no-repeat;
}
.blog-col-r-bottom > div:last-child {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("../img/pic4.jpg") center/cover no-repeat;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}
.blog-col-content {
  text-align: center;
  color: white;
}
.blog-collection .text-light {
  opacity: 1;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.7;
}
.btn-dark {
  background: #ffe047;
  color: black;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}
.btn-dark:hover {
  background: #0e69be;
  color: #f1f1f1;
}

/* +++ media queries +++ */
@media screen and (min-width: 992px) {
  .blog-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-col-r-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .blog-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .blogs .text-light {
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .blog-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .blog-collection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .flex {
    height: 38vh;
  }
  .blog-col-left {
    height: 77vh;
  }
}

/* +++ card component style +++ */
.card-cmp {
  display: flex;
  width: 95%;
  position: relative;
  max-width: 1020px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(243, 231, 63, 0.534);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .card-cmp {
    max-width: 680px;
    height: 400px;
 }
}
@media screen and (max-width: 768px) {
  .card-cmp {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .card-cmp {
    height: 350px;
 }
}
.card-cmp__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .card-cmp__item {
    flex-direction: column;
 }
}
.card-cmp__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  box-shadow: 4px 13px 30px 1px rgba(63, 144, 197, 0.8);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.card-cmp__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.card-cmp__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .card-cmp__img {
    transform: translateY(-50%);
    width: 90%;
 }
}
@media screen and (max-width: 576px) {
  .card-cmp__img {
    width: 95%;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .card-cmp__img {
    height: 270px;
 }
}
.card-cmp__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .card-cmp__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
 }
}
@media screen and (max-width: 576px) {
  .card-cmp__content {
    padding: 0;
 }
}
.card-cmp__content > * {
  opacity: 1;
  transform: translateY(25px);
  transition: all 0.4s;
}
.card-cmp__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.card-cmp__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.card-cmp__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.card-cmp__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #0e69be 0%, #ffe047 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color:black;
  box-shadow: 0px 14px 80px rgba(73, 69, 69, 0.8);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .card-cmp__button {
    width: 100%;
 }
}

