/* Tag-lone styling */

.tag-line {
  color: #000;
  background-color: var(--s_blue);
}

.tag-line h2 {
  font-size: 20px;
  font-weight: 900;
  padding: 5px 10px 10px 5px;
  color: #005e5a;
  margin-top: 12px;
}
.tag-line h2 > i {
  margin-left: 8px;
  margin-right: 8px;
}

/* heading styling */

.section-header {
  position: relative;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-bottom: 15px;
}

.section-header::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  left: calc(50% - 50px);
  bottom: 0;
  background: linear-gradient(to left, #ffd662, #00539c, #ffd662);
  border-radius: 100%;
}

.section-header::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 9px;
  left: calc(50% - 10px);
  bottom: -3px;
  background: #00539c;
  border-radius: 5px;
}

.section-header p {
  margin-bottom: 40px;
  font-size: 23px;
}

.section-header h2 {
  color: #00539c;
  font-size: 50px;
  font-weight: 550;
  margin-bottom: 25px;
}

.section-header.left {
  text-align: left;
}

/* feature styling */

.feature_part {
  padding-top: 65px;
}

.feature_part .single_feature_text h2 {
  font-size: 42px;
  line-height: 1.222;
  padding-bottom: 25px;
}

.feature_part img {
  height: 80%;
  width: 80%;
}
.single_feature_part img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.single_feature_part:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .feature_part .single_feature_text h2 {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.feature_part .single_feature_text p {
  line-height: 1.8;
  font-size: 17px;
}
.feature_part .single_feature {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature_part .single_feature_part {
  padding: 50px 20px 35px;
  border: 1px solid #d3d5d6;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.feature_part .single_feature_text {
  padding: 50px 20px;
  height: 94vh;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 576px) {
  .feature_part .single_feature_part {
    padding: 25px 10px;
    margin-top: 25px;
  }
}

.feature_part .single_feature_part h4 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 13px;
}

.feature_part .single_feature_part p {
  color: black;
  line-height: 1.7;
  font-size: 17px;
}

.feature_part .single_feature:hover .single_feature_part {
  border: 1px solid var(--p_blue);
}

.feature_part .single_feature:hover span {
  background-size: 200% auto;
}

.feature_part .single_feature:hover span i {
  color: #fff;
}

.single_feature_padding {
  padding-top: 140px;
}

.feature_part a.btn {
  margin-top: 10px;
  padding: 15px 35px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: var(--yellow);
  transition: 0.3s;
}

.feature_part a.btn:hover {
  color: #ffffff;
  background: var(--s_blue);
}

/* problem section styling */

.probs {
  position: relative;
  width: 100%;
  padding: 45px 0;
  box-shadow: 0 0 0 8px rgb(0 0 0 / 10%);
}

.probs .section-header {
  margin-bottom: 30px;
}

.probs img {
  width: 100%;
  height: 100%;
}

.prob_image {
  height: 100%;
  width: 100%;
}

.probs span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  background: var(--yellow);
  color: #000000;
  border-radius: 5px;
  padding-top: 10px;
}

section {
  padding: 30px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

/* team styling */

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 35vh;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 22px;
  color: #37517e;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: var(--s_blue);
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a + a {
  margin-left: 8px;
}
