.banner_section {
  width: 100%;
  float: left;
  background-image: url(../img/clg_banner.jpg);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.90;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.banner_taital {
  width: 100%;
  float: left;
  color: #ffffff;
  font-size: 44pt;
  text-align: center;
}
.browse_text {
  width: 100%;
  float: left;
  text-align: center;
  padding-bottom: 50px;
  font-weight: 500;
  margin-left: 0px;
  margin: 20px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 24px;
  color: black;
  margin-top: 75px;
}

.banner_bt {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.btn1 {
  width: 20%;
  height: 50px;
  margin-bottom: 100px;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 4rem;
  border-radius: 5rem;
  background: var(--yellow);
  color: black;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  z-index: 0;
  font-size: 1.7rem;
  text-decoration: none;
}

.btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--s_blue);
  clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
  transition: 0.3s linear;
}

.btn1:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.btn2 {
    width: 100%;
    height: 50px;
    display: inline-block;
    padding: 1rem 4rem;
    border-radius: 5rem;
    background: var(--yellow);
    color: black;
    font-weight: 800;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.7rem;
    text-decoration: none;
  }
  
  .btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--s_blue);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition: 0.3s linear;
  }
  
  .btn2:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
.search_box {
  width: 100%;
  float: left;
  background-color: #ffffff;
  height: auto;
  padding: 60px 20px;
  top: -55px;
  position: relative;
  box-shadow: 0px 0px 8px 0px;
}

.email_boton {
  width: 100%;
  float: left;
  color: #b2b1b1;
  border: 1px solid var(--s_blue);
  padding: 10px 15px;
  font-size: 14pt;
}

.search_bt {
  width: 90%;
  float: left;
  color: #ffffff;
  background-color:var(--s_blue);
  font-size: 15pt;
  border: 0px;
  height: 55px;
}

/* media queries */

@media (min-width: 992px) and (max-width: 1199px) {
  .banner_taital {
    font-size: 42pt;
  }
  .browse_text {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner_taital {
    font-size: 33pt;
  }
  .browse_text {
    font-size: 13pt;
    padding-bottom: 0px;
  }
  .btn1 {
    width: 30%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .banner_section {
    background-size: cover;
  }
  .banner_taital {
    font-size: 24pt;
  }
  .browse_text {
    font-size: 12pt;
    margin-left: 4px;
  }
  .btn1 {
    width: 32%;
  }
  .email_boton {
    font-size: 11pt;
    padding: 11px 11px;
  }
}

@media (max-width: 575px) {
  .banner_taital {
    font-size: 16pt;
  }
  .browse_text {
    font-size: 9pt;
    padding-bottom: 0px;
    margin-left: 5px;
  }
  .layout_padding {
    padding-bottom: 30px;
    padding-top: 30px;
    background-size: cover;
  }
  .email_boton {
    margin-top: 20px;
  }
  .search_bt {
    width: 100%;
    margin-top: 20px;
  }
  .btn1 {
    width: 55%;
    font-size: 13pt;
  }
  .btn2 {
    margin-top: 20px;
  }
}
