@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url(utility.css);

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
  text-transform: capitalize;
  scroll-behavior: smooth;
}

*::selection {
  background: var(--s_blue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

header {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1.5rem 7%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 2.5rem;
  color: var(--gray);
}
.logo1 {
  width: 30%;
}

header .logo span {
  color: var(--p_blue);
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none !important;
}

header .navbar ul li {
  margin-left: 2.5rem;
}

header .navbar ul li a {
  color: var(--gray);
  font-size: 2rem;
  text-decoration: none !important;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--s_blue);
  border-bottom: 0.2rem solid var(--s_blue);
  padding: 0.7rem 0;
}

#menu {
  font-size: 3rem;
  color: var(--gray);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 9rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content span {
  color: var(--p_blue);
  font-size: 2.5rem;
}

.home .content h3 {
  color: #666;
  font-size: 5rem;
}

.home .content p {
  color: var(--s_blue);
  font-size: 2rem;
  padding: 1rem 0;
}

/* Media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 8rem;
    left: -120%;
    height: 100%;
    width: 100%;
    background: #eee;
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    background: var(--p_blue);
    color: #fff;
    border: none;
    border-radius: 5rem;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    left: 0;
  }
  .home .content {
    text-align: center;
  }
  .prevent .row:last-child {
    flex-flow: column-reverse;
  }
  ol,
  ul {
    margin-top: 0rem;
    margin-bottom: 40rem !important;
    margin-left: 31rem;
  }
}

@media (max-width: 565px) {
  html {
    font-size: 50%;
  }
  section {
    padding: 0 3%;
    padding-top: 9rem;
  }
  ol,
  ul {
    margin-bottom: 40rem;
    margin-left: 23rem;
  }
}

@media (max-width: 444px) {
  ol,
  ul {
    margin-bottom: 40rem !important;
    margin-left: 19rem !important;
  }
}

@media (max-width: 320px) {
  ol,
  ul {
    margin-bottom: 40rem !important;
    margin-left: 11rem !important;
  }
}

@media (max-width: 376px) {
  ol,
  ul {
    margin-bottom: 40rem !important;
    margin-left: 15rem !important;
  }
}

@media (max-width: 281px) {
  ol,
  ul {
    margin-bottom: 40rem !important;
    margin-left: 8rem !important;
  }
}

/* preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--s_blue);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--p_blue);
  border-top-color: var(--yellow);
  border-bottom-color: var(--yellow);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* about section in home */

/* quote styling */
.quotes-section {
	background-color: #f7f7f7;
	padding: 40px 0px;
}
.quote-item {
	text-align: center;
}
.quote-item i {
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	color: #fff;
	background: var(--p_blue);
    background: linear-gradient(145deg, var(--p_blue) 0%, var(--s_blue) 100%);
    border-radius: 50%;
    font-size: 18px;
    margin-bottom: 45px;
}
.quote-item p {
	font-size: 19px;
	font-weight: 300;
	font-style: italic;
	line-height: 35px;
	margin-bottom: 40px;
}

/* why us styling */
.whead{
  margin-bottom: 0px !important;
}
.why-us-content{
 padding: 5px;
}
.why-us .why-us-content h2{
  margin-top: 5rem !important;
  color: #666;
  font-size: 4rem;
}
.why-us .why-us-content p{
  color: var(--s_blue);
  font-size: 2rem;
  padding: 1rem 0;
}
.wbtn{
  margin-top: 2rem !important;
}
.why-us-image{
  max-width: 100% !important;
  height: auto;
  margin-top: 8rem !important;
  margin-left: -2.5rem;
}

/* problem styling */

.prob_image {
  height: 100%;
  width: 100%;
}

.faqs .card {
  margin-bottom: 15px;
  padding-top: 15px;
  border: none;
  border-radius: 0;
  border-top: 1px solid #eeeeee;
}

.faqs .card-header {
  padding: 0;
  border: none;
  background: #ffffff;
}

.faqs .card-header a {
  display: block;
  width: 100%;
  color: var(--p_blue);
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  text-decoration: none   ;
}

.faqs .card-header a span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  background: var(--yellow);
  color: #000000;
  border-radius: 5px;
}

.faqs .card-header [data-toggle="collapse"]:after {
  font-family: 'font Awesome 5 Free';
  content: "\f067";
  float: right;
  color: var(--p_blue);
  font-size: 12px;
  font-weight: 900;
  transition: .3s;
}

.faqs .card-header [data-toggle="collapse"][aria-expanded="true"]:after {
  font-family: 'font Awesome 5 Free';
  content: "\f068";
  float: right;
  color: var(--p_blue);
  font-size: 12px;
  font-weight: 900;
  transition: .3s;
}

.faqs .card-body {
  padding: 15px 0 0 0;
  font-size: 16px;
  border: none;
  background: #ffffff;
}